<configuration scan="true" scanPeriod="3 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{10} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Greyfish.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger{10} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.asoem.greyfish" additivity="false" level="INFO">
        <!-- <appender-ref ref="FILE"/> -->
    </logger>

    <logger name="org.asoem.greyfish.core" additivity="true" level="INFO">
    </logger>

    <logger name="org.asoem.greyfish.core.simulation" additivity="true" level="INFO">
        <!--
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/Simulation.log</file>
            <append>true</append>
            <encoder>
                <pattern>%-5level %logger{10} - %msg %n</pattern>
            </encoder>
        </appender>
        -->
    </logger>

    <logger name="org.asoem.greyfish.core.actions" additivity="true" level="INFO">
    </logger>

    <logger name="org.asoem.greyfish.core.actions.ContractNetInitiatorAction" additivity="true" level="DEBUG">
    </logger>

    <logger name="org.asoem.greyfish.core.actions.ContractNetParticipantAction" additivity="true" level="DEBUG">
    </logger>

    <logger name="org.asoem.greyfish.gui" additivity="true" level="INFO">
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>