<configuration scan="true" scanPeriod="3 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Greyfish.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger{10} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.asoem.greyfish.core.individual" additivity="true" level="WARN">
    </logger>

    <logger name="org.asoem.greyfish.models" additivity="true" level="INFO">
    </logger>

    <logger name="org.asoem.greyfish.cli" additivity="true" level="INFO">
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>